.container {
    margin: auto;
}

.content {
    margin: 30px auto;
    padding: 10px;
    width: 50%;
    height: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.20);
}

.container .logo {
    margin: 30px auto 0 auto;
    width: 50%;
    height: 50%;
}

.container .logo h1 {
    margin-bottom: -2px;
    text-align: center;
    font-weight: 400;
    font-family: 'Libre Bodoni', sans-serif;
    text-transform: uppercase;
    color: #151e3d;
    ;
}

.container .logo h1 span {
    color: red;
}

.container .logo .subtitle {
    color: rgba(0, 0, 0, 0.692);
    text-align: center;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

p {
    color: red;
    font-style: italic;
    font-size: 15px;
}