* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}


/* Judul */
.container .logo h1 {
	margin-top: 20px;
	margin-bottom: -5px;
	text-align: center;
	font-weight: 400;
	font-family: 'Libre Bodoni',
		sans-serif;
	text-transform: uppercase;
}

.container .logo h1 span{
	color: red;
}

.container .logo .subtitle{
	color:rgba(0, 0, 0, 0.692);
	text-align: center;
	font-weight: 500;
font-family: 'Montserrat',
sans-serif;
	text-transform: uppercase;
}


.container .navbar .container .fas.fa-cart-plus {
		color: #2d3655;
}

.container .navbar .container .fas.fa-cart-plus:hover {
	color: #151e3d;
}

@media (max-width:550px) {
	.container .logo h1 {
		margin-left: 10px;
		margin-bottom: 5px;
		text-align: left;
	}

	.container .logo h6{
		display: none;

	}


}

